# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Editor / OS junk
.vscode/
.idea/
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Tests & local scripts
tests/
*.hurl
*.sh

# Logs
*.log

# Python packaging
*.egg-info/
dist/
build/

# Node (just in case)
node_modules/

# Env files
.env
.env.*
